aiohttp==3.8.6
aiosignal==1.3.1
anyio==4.0.0
APScheduler==3.10.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
azure-core==1.29.5
azure-identity==1.15.0
beautifulsoup4==4.12.3
cached-property==1.5.2
certifi==2023.7.22
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
comtypes==1.4.7
convertdate==2.4.0
cryptography==41.0.5
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.8
dnspython==2.6.1
docutils==0.21.2
et-xmlfile==1.1.0
exceptiongroup==1.1.3
exchangelib==5.4.3
executing==2.0.1
filelock==3.15.4
fire==0.4.0
fonttools==4.54.1
fpdf2==2.7.5
frozenlist==1.4.0
furl==2.1.3
graphviz==0.13.2
h11==0.14.0
h2==4.1.0
hijri-converter==2.3.1
holidays==0.21.13
hpack==4.0.0
htmldocx==0.0.6
httpcore==0.18.0
httpx==0.25.0
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
ipykernel==6.29.5
ipython==8.26.0
isodate==0.6.1
java-access-bridge-wrapper==1.2.0
jedi==0.19.1
jsonpath-ng==1.6.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
korean-lunar-calendar==0.3.1
lxml==5.3.0
matplotlib-inline==0.1.7
microsoft-kiota-abstractions==1.0.0
microsoft-kiota-authentication-azure==1.0.0
microsoft-kiota-http==1.0.0
microsoft-kiota-serialization-json==1.0.0
microsoft-kiota-serialization-text==1.0.0
more-itertools==10.5.0
msal==1.24.1
msal-extensions==1.0.0
msgraph-core==1.0.0a4
msgraph-sdk==1.0.0
mss==6.1.0
multidict==6.0.4
mypy==1.11.2
mypy-extensions==1.0.0
nest-asyncio==1.6.0
netsuitesdk==1.24.0
notifiers==1.3.3
numpy==2.1.0
O365==2.0.26
oauthlib==3.2.2
openpyxl==3.1.5
opentelemetry-api==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
orderedmultidict==1.0.1
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pdfminer.six==20221105
pendulum==2.1.2
pillow==10.4.0
platformdirs==4.2.2
ply==3.11
portalocker==2.8.2
prompt_toolkit==3.0.47
psutil==5.9.8
pure_eval==0.2.3
pycparser==2.21
Pygments==2.18.0
PyJWT==2.8.0
PyMeeus==0.5.12
pynput-robocorp-fork==5.0.0
pyotp==2.9.0
pypdf==3.17.4
pyperclip==1.9.0
PySocks==1.7.1
pyspnego==0.11.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.1
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
pywin32==306
pywinauto==0.6.8
PyYAML==6.0.2
pyzmq==26.1.0
referencing==0.35.1
requests==2.31.0
requests-file==2.1.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests_ntlm==1.3.0
robocorp-storage==1.0.4
robotframework==6.1.1
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-sapguilibrary==1.1
robotframework-seleniumlibrary==6.6.1
robotframework-seleniumtestability==2.1.0
rpaframework==28.6.3
rpaframework-core==11.3.3
rpaframework-pdf==7.3.3
rpaframework-windows==7.5.2
rpds-py==0.20.0
selenium==4.15.2
simple-salesforce==1.12.6
six==1.16.0
smartsheet-python-sdk==3.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.6
sspilib==0.1.0
stack-data==0.6.3
std-uritemplate==0.0.46
stringcase==1.2.0
tenacity==8.5.0
termcolor==2.4.0
tomli==2.0.1
tornado==6.4.1
traitlets==5.14.3
trio==0.26.2
trio-websocket==0.11.1
tweepy==3.10.0
typing_extensions==4.8.0
tzdata==2024.1
tzlocal==4.3.1
uiautomation==2.0.20
urllib3==2.0.7
validators==0.20.0
virtualenv==20.26.3
wcwidth==0.2.13
webdriver-manager==4.0.2
wrapt==1.15.0
wsproto==1.2.0
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
yarl==1.9.2
zeep==4.2.1
zipp==3.17.0
